<style type="text/css">
  html { background-color: black; }
  body { background-color: white; border-radius: 12px; }

  .author, .date {
      padding: 10px 50px 10px;
      margin: 0px;
      text-align: right;
      background-color: #EEEEEE;
      color: #777777;
  }
  .author {
      margin-top: 200px;
      height: 56px;
      background-image: url(images/go-forward-logo-transparent-128-50.png);
      background-size: 128px 50px;
      background-position: 50px 10px;
      background-repeat: no-repeat;
  }
  a { text-decoration: none; color: #111111; }
  /* A section is a slide. It's size is 800x600, and this will never change */
  address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, table, ul, dl {
      padding: 10px 20px 10px 20px;
  }
  blockquote { font-style: italic }
  code {
      white-space: pre;
      font-size: 17px;
      background-color: #DDDDDD;
      border-radius: 5px;
      display: block;
  }
  h1, h3, h4, h5 { text-align: center; }
  h1, h2, h3 { margin: 10pt 10pt 5pt 10pt; }
  h1 {
      margin-top: 20px;
      font-size: 180%;
      background-color: #AAAAAA;
      border-radius: 12px; }
  h1.title {
      margin-top: 150px;
      background-color:#FFFFFF;
  }
  h2 {
      font-size: 120%;
      text-align: left;
  }
  h4 {
      margin: 0px;
      padding: 15px;
      background-color: #EEEEEE;
      color: #777777;
      font-size: 15px;
  }
  li { margin-bottom: 5px; }
  section {
      font-family: Arial, serif;
      font-size: 20pt;
  }
  section.titleslide h1 { margin-top: 200px; }
  td {
      padding: 5px 40px 5px 5px;
      border-right: 2px dotted #000000;
      border-top: 1px solid #000000;
  }
  tr { font-size: 70%; }
  ul, ol { margin: 5px 10px 10px 50px; }
  q { quotes: "“" "”" "‘" "’"; }
  /* Figures are displayed full-page, with the caption on
     top of the image/video */
  figure {
      background-color: white;
      display: block;
  }
  figcaption {
    margin: 70px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    text-align: right;
    background-color: #F3F4F8;
    border-top: 1px solid #CCC;
  }
  .strike { text-decoration: line-through; }
  /* Transition effect */
  /* Feel free to change the transition effect for original
     animations. See here:
     https://developer.mozilla.org/en/CSS/CSS_transitions
     How to use CSS3 Transitions: */
  section {
      -moz-transition: left 400ms linear 0s;
      -webkit-transition: left 400ms linear 0s;
      -ms-transition: left 400ms linear 0s;
      transition: left 400ms linear 0s;
  }
  /* Before */
  section { left: -150%; }
  /* Now */
  section[aria-selected] { left: 0; }
  /* After */
  section[aria-selected] ~ section { left: +150%; }

  /* Incremental elements */

  /* By default, visible */
  .incremental > * { opacity: 1; }

  /* The current item */
  .incremental > *[aria-selected] { color: red; opacity: 1; }

  /* The items to-be-selected */
  .incremental > *[aria-selected] ~ * { opacity: 0.2; }

  div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: #40a070; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #4070a0; } /* String */
code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
</style>
